<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Verifiable Secret Sharing"
            icon="icons/view.gif"
            category="org.jcryptool.visual"
            class="org.jcryptool.visual.verifiablesecretsharing.views.VerifiableSecretSharingView"
            id="org.jcryptool.visual.verifiablesecretsharing.views.VerifiableSecretSharingView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension point="org.jcryptool.core.operations.visuals">
      <Visual
            name="%Visual.name.0"
            viewId="org.jcryptool.visual.verifiablesecretsharing.views.VerifiableSecretSharingView"
            contextHelpId="org.jcryptool.visual.verifiablesecretsharing.view">
      </Visual>
   </extension>

</plugin>
